:root {
	/* Font Family */
	--locksmith-font-family-base: 'IBM Plex Sans', sans-serif;
	--locksmith-font-family-title: 'Inter', sans-serif;

	/* Font Sizes */
	--locksmith-font-size-base: 1rem;
	--locksmith-font-size-12: 0.75rem;
	--locksmith-font-size-16: 1rem;
	--locksmith-font-size-20: 1.25rem;
	--locksmith-font-size-24: 1.5rem;
	--locksmith-font-size-81: 5.0625rem;

	/* Spacing */
	--locksmith-spacing-0: 0;
	--locksmith-spacing-1: 0.0625rem;
	--locksmith-spacing-2: 0.125rem;
	--locksmith-spacing-3: 0.1875rem;
	--locksmith-spacing-4: 0.25rem;
	--locksmith-spacing-8: 0.5rem;
	--locksmith-spacing-10: 0.625rem;
	--locksmith-spacing-12: 0.75rem;
	--locksmith-spacing-16: 1rem;
	--locksmith-spacing-18: 1.125rem;
	--locksmith-spacing-24: 1.5rem;
	--locksmith-spacing-32: 2rem;

	/* Sizing */
	--locksmith-sizes-0: 0;
	--locksmith-sizes-1: 0.0625rem;
	--locksmith-sizes-2: 0.125rem;
	--locksmith-sizes-3: 0.1875rem;
	--locksmith-sizes-4: 0.25rem;
	--locksmith-sizes-8: 0.5rem;
	--locksmith-sizes-10: 0.625rem;
	--locksmith-sizes-12: 0.75rem;
	--locksmith-sizes-16: 1rem;
	--locksmith-sizes-18: 1.125rem;
	--locksmith-sizes-24: 1.5rem;
	--locksmith-sizes-32: 2rem;
	--locksmith-sizes-40: 2.5rem;

	/* Font Weight */
	--locksmith-font-weight-regular: 400;
	--locksmith-font-weight-medium: 500;
	--locksmith-font-weight-semibold: 600;
	--locksmith-font-weight-bold: 700;

	/* Reference Colors */
	--locksmith-colors-white: oklch(100.00% 0.000 0);

	/* Background */
	--locksmith-colors-background-base: oklch(26.62% 0.009 248.18);
	--locksmith-colors-background-code-item: oklch(16.47% 0.012 250.14 / 0.3);
	--locksmith-colors-background-lock-input: oklch(100.00% 0.000 0);
	--locksmith-colors-background-lock-item-button-hover: oklch(35.41% 0.018 250.14);
	--locksmith-colors-background-page: var(--locksmith-colors-background-base);
	--locksmith-colors-background-lock-item-button: var(--locksmith-colors-background-base);

	/* Border */
	--locksmith-colors-border-base: oklch(100.00% 0.000 0 / .30);
	--locksmith-colors-border-lock-item-button: oklch(29.41% 0.018 250.14);
	--locksmith-colors-border-digit: var(--locksmith-colors-border-base);
	--locksmith-colors-border-digit-hover: var(--locksmith-colors-white);

	/* Text */
	--locksmith-colors-text-lock-input: oklch(16.376% 0.00002 271.152);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--locksmith-colors-background-page);
	font-family: var(--locksmith-font-family-base);
	color: var(--locksmith-colors-white);
	width: 100%;
}

.app {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	height: 100dvh; 
	background: radial-gradient(55.41% 55.41% at 50% 44.59%, rgba(24, 103, 192, 0.36) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/* Code Generate */

.code-generator-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--locksmith-spacing-32);
	z-index: var(--locksmith-zIndex-code-generator);
	padding: var(--locksmith-spacing-16);
}

.code-generator-button {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: var(--locksmith-spacing-18) var(--locksmith-spacing-24);
	gap: var(--locksmith-spacing-24);
	cursor: pointer;

	width: 400px;
	height: 60px;

	background: linear-gradient(132.26deg, #448fea 8.76%, #448fea 42.38%, #448fea 8.76%);
	box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	border: none;

	font-family: var(--locksmith-font-family-title);
	font-style: normal;
	font-weight: var(--locksmith-font-weight-semibold);
	font-size: var(--locksmith-font-size-20);
	line-height: var(--locksmith-font-size-24);

	color: var(--locksmith-colors-white);
}

.code-generator-button:hover {
	border: 2px solid var(--locksmith-colors-white);
}

/* Lock */

.lock {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 3.125rem;
	gap: 3.75rem;
	margin-left: 25px;
}

.lock-item {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--locksmith-spacing-10);
}

.lock-input-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--locksmith-spacing-10);
  outline: none;
}

.lock-input-container input:focus-visible {
	outline: 1px dotted var(--locksmith-colors-white);
	outline-offset: var(--locksmith-spacing-3);
}

.lock-input__label {
	font-weight: var(--locksmith-font-weight-regular);
	font-size: var(--locksmith-font-size-14);
}

.lock-item-actions {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--locksmith-spacing-10);
}

.lock-item-button {
	text-align: center;
	box-sizing: border-box;
	border-radius: 100px;
	background: var(--locksmith-colors-background-lock-item-button);
	border: 1px solid var(--locksmith-colors-border-lock-item-button);
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
	width: var(--locksmith-sizes-40);
	height: var(--locksmith-sizes-40);
	color: var(--locksmith-colors-white);
	cursor: pointer;
	outline: none;
}

.lock-item-button:hover {
	outline: 1px solid var(--locksmith-colors-white);
}

.lock-item-button:focus-visible {
	outline: 1px solid var(--locksmith-colors-white);
	outline-offset: var(--locksmith-spacing-1);
}

.lock-item-button svg {
	width: 1.2rem;
	height: 1.2rem;
	padding-top: 2px;
	pointer-events: none;
}

.lock-input {
	box-sizing: border-box;
	display: flex;
	padding: 0px 5px;
	width: 92px;
	height: 110px;
	background: var(--locksmith-colors-background-lock-input);
	border: 1px solid var(--locksmith-colors-border-base);
	box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	text-align: center;
	color: var(--locksmith-colors-text-lock-input);
	font-style: normal;
	font-weight: var(--locksmith-font-weight-bold);
	font-size: var(--locksmith-font-size-81);
	line-height: 105px;
	outline: none;
}

.lock-input:hover {
	border: 2px solid var(--locksmith-colors-white);
}

.lock-input:focus-within {
	border: 2px solid var(--locksmith-colors-white);
}

/* Code */

.code {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 0px;
	padding-top: 50px;
	gap: 36px;
	cursor: default;
}

.code-item {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 5px;
	gap: 10px;
	width: 92px;
	height: 110px;
	background: var(--locksmith-colors-background-code-item);
	border: 1px solid var(--locksmith-colors-border-digit);
	box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	font-style: normal;
	font-weight: var(--locksmith-font-weight-bold);
	font-size: var(--locksmith-font-size-81);
	line-height: 105px;
}

.code-item__divider  {
	position: absolute;
	top: var(--locksmith-spacing-12);
	border: 0px solid var(--locksmith-colors-background-base);
	width: 100%;
}
